.signin-wrapper {

    background-color:white;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(35,47,62);
    
    background-image: url("../../assets/background_style.png");
    background-size: 40%;
    background-position: 70vw 50vh;
    background-repeat: no-repeat;
    
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    min-height: 70vh;
}

.signin-wrapper h1{
    padding: 4vh;
}

.sign-in-card{
    border: solid rgb(35,47,62) 1px;
    background-color: rgb(35,47,62,0.1);
    border-radius: 5px;
    width: 35vw;
    margin-bottom: 5vh;
    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.signin-button {
    min-height: 2.5vh;
    padding: 8px 0px;
    border-radius: 5px;
    text-align: center;
    vertical-align: middle;
    color: white;
    background-color: rgb(35,47,62);
}

.margin {
    margin-top: 20px;
}

.signin-button:hover {
    color: rgb(35,47,62);
    background-color: rgb(255,153,0,0.7);
    cursor: pointer;
}

.additional-info {
    align-self: center;
    text-align: center
}