.footer {
    padding: 20px;
    height: 15vh;

    background-color:#292c35;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 130%;
    color: #dcae52;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer_button {
    border-radius: 5px;
    padding: 10px 10px;
}

.footer_button:hover {
    color: #292c35;
    background-color: #dcae52;
    cursor: pointer;
}

.footer img {
    height: 15vh;
}