.background {
    padding: 20px;
    height: 75vh;

    background-color:#e9e2c9;
    font-family: Arial, Helvetica, sans-serif;
    color: #292c35;
    
    background-image: url("./../assets/background_style.png");
    background-size: 40%;
    background-position: 70vw 50vh;
    background-repeat: no-repeat;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}
