.student_request {
    padding: 20px;
    height: 75vh;

    background-color:white;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(35,47,62);
    
    background-image: url("./../assets/background_style.png");
    background-size: 40%;
    background-position: 70vw 50vh;
    background-repeat: no-repeat;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    padding: 4vh 4vw;
    justify-items: center;
    /*
    grid-template-columns: 25% 25% 25% 25% ;
    grid-template-rows: 50px;*/
}
/*
.main_input {
    grid-column-start: 1;
}
*/

label {
    padding: 2vh;
}

.label {
    margin-bottom: 2vh;
}

.submit {
    padding: 2vh;
    margin-top: 5vh;
    border-radius: 5px;
    color: white;
    background-color: rgb(35,47,62);
}
.submit:hover {
    cursor: pointer;
    color: #292c35;
    background-color: rgb(255,153,0,0.7);

}

.form_containter {
    margin-left: 2vh;
}

.submit:focus{
    outline: none;
}

.border {
    border: solid rgb(35,47,62);
    margin: 0 20vw;
    padding: 4vh 4vw;
}