.student_request {
    padding: 20px;
    height: 75vh;

    background-color:#e9e2c9;
    font-family: Arial, Helvetica, sans-serif;
    color: #292c35;
    
    background-image: url("./../assets/background_style.png");
    background-size: 40%;
    background-position: 70vw 50vh;
    background-repeat: no-repeat;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: start;
    /*
    grid-template-columns: 25% 25% 25% 25% ;
    grid-template-rows: 50px;*/
}
/*
.main_input {
    grid-column-start: 1;
}
*/

label {
    padding: 2vh;
}

.label {
    margin-bottom: 2vh;
}

.submit {
    padding: 2vh;
    margin: 2vh;
    border-radius: 5px;
    color: #dcae52;
    background-color: #292c35;
}
.submit:hover {
    cursor: pointer;
    color: #292c35;
    background-color: #dcae52;

}

.form_containter {
    margin-left: 2vh;
}

.submit:focus{
    outline: none;
}

.border {
    border: solid #292c35;
    margin: 0 26vw;
}