.global-wrapper {
    padding: 20px;
    min-height: 60vh;

    background-color:white;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(35,47,62);
    
    background-image: url("../../assets/background_style.png");
    background-size: 40%;
    background-position: 70vw 50vh;
    background-repeat: no-repeat;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.profile-card {
    border: solid rgb(35,47,62);
    align-content: center;
    text-align: center;
    padding: 20px 20px;
}

.signout-button {
    width: 10vw;
    border-radius: 5px;
    text-align: center;
    vertical-align: middle;
    color: white;
    background-color: rgb(35,47,62);
    margin-top: 20px;
    padding: 10px 10px;
}

.signout-button:hover {
    color: rgb(35,47,62);
    background-color: rgb(255,153,0);
    cursor: pointer;
}

.MuiCard-root{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}